@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
}

html, body, #wrap, #header_wrapper, #bg_video_wrapper, #header {
  width: 100%;
  height: 100%;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

header {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding-top: 15px;
}
header .icon {
  transform: rotate(45deg);
  background-color: antiquewhite;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  text-align: center;
  line-height: 30px;
}
header .headers_button {
  display: flex;
  gap: 10px;
}
header a {
  text-decoration: none;
  color: black;
}

.main_page {
  width: 80%;
  margin: 0 auto;
}
.main_page .div_01 {
  margin-top: 150px;
  display: grid;
  /* на время отладки*/
  /**/
  grid-template-columns: 65% 35%;
}
.main_page .div_01 .div_01_left {
  width: 90%;
}
.main_page .div_01 .div_01_left .div_01_left_01 {
  color: rgb(42, 133, 252);
}
.main_page .div_01 .div_01_left .div_01_left_01 span {
  display: inline-block;
  width: 100px;
}
.main_page .div_01 .div_01_left .div_01_left_01 span div {
  border-bottom: 2px solid rgb(42, 133, 252);
  margin-bottom: 0.2em;
}
.main_page .div_01 .div_01_left .div_01_left_02 {
  font-size: 3em;
  font-weight: 600;
  margin: 30px auto;
}
.main_page .div_01 .div_01_left .div_01_left_03 {
  color: rgb(143, 143, 143);
  margin: 30px auto;
}
.main_page .div_01 .div_01_left .div_01_left_04 {
  border-bottom: 1px solid rgb(184, 184, 184);
  padding-bottom: 15px;
}
.main_page .div_01 .div_01_left .div_01_left_04 button {
  color: rgb(42, 133, 252);
  padding: 15px;
  background-color: white;
  border: 2px solid rgb(42, 133, 252);
  border-radius: 10px;
  font-weight: bold;
}
.main_page .div_01 .div_01_left .div_01_left_04 button:hover {
  color: white;
  background-color: rgb(42, 133, 252);
}
.main_page .div_01 .div_01_left .div_01_left_04 #hire_button {
  margin-right: 25px;
}
.main_page .div_01 .div_01_foto {
  background: url(images/jessica_foto.png) no-repeat;
  height: 393px;
}
.main_page .div_02 {
  /* на время отладки*/
  /**/
  width: 70%;
  margin: 150px auto;
  font-size: 1.8em;
  text-align: center;
  font-weight: bold;
}
.main_page .div_02 span {
  color: cornflowerblue;
}
.main_page .div_03 {
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 35% 65%;
}
.main_page .div_03 .div_03__foto {
  background: url(images/foto_div03.png) no-repeat;
  height: 400px;
}
.main_page .div_03 .div_03_right {
  display: grid;
  grid-template-columns: 45% 45%;
  column-gap: 15px;
  row-gap: 35px;
}
.main_page .div_03 .div_03_right .chat h4 {
  margin-bottom: 15px;
}
.main_page .div_03 .div_03_right .chat .description {
  color: rgb(163, 163, 163);
  font-size: 0.8em;
}
.main_page .div_03 .div_03_right .chat a {
  margin-top: 15px;
  display: block;
  text-decoration: none;
}
.main_page .div_03 .div_03_right .chat a:after {
  padding-left: 0.5em;
  content: "➞";
}

.div_04 {
  padding: 100px 0;
  margin-bottom: 20px;
  background-color: aliceblue;
}
.div_04 .bg_color {
  width: 80%;
  margin: 0 auto;
}
.div_04 .bg_color div {
  margin: 10px auto;
}
.div_04 .bg_color .brands {
  display: flex;
  gap: 50px;
}
.div_04 .bg_color .brands img {
  flex-grow: 1;
  height: 50px;
  object-fit: cover;
}

footer {
  background-color: aliceblue;
}
footer .footer_content {
  padding: 50px 0 50px 0;
  display: grid;
  gap: 15px;
  justify-items: center;
}
footer .footer_content h2 {
  font-weight: 500;
}
footer .footer_content .text_footer {
  text-align: center;
  max-width: 514px;
  font-size: 1em;
  margin: 0 20px;
}
footer .footer_content .social_media_icons {
  display: grid;
  grid-template-columns: repeat(6, 40px);
  justify-items: center;
  gap: 3px;
}
footer .footer_content .social_media_icons .img_facebook {
  width: 32px;
  height: 32px;
  background: url("images/facebook.png");
  background-size: cover;
}
footer .footer_content .social_media_icons .img_network {
  width: 32px;
  height: 32px;
  background: url("images/network.png");
  background-size: cover;
}
footer .footer_content .social_media_icons .img_twitter {
  width: 32px;
  height: 32px;
  background: url("images/twitter.png");
  background-size: cover;
}
footer .footer_content .social_media_icons .img_vk {
  width: 32px;
  height: 32px;
  background: url("images/vk.png");
  background-size: cover;
}
footer .footer_content .social_media_icons .img_whatsapp {
  width: 32px;
  height: 32px;
  background: url("images/whatsapp.png");
  background-size: cover;
}
footer .footer_content .social_media_icons .img_youtube {
  width: 32px;
  height: 32px;
  background: url("images/youtube.png");
  background-size: cover;
}

/*# sourceMappingURL=style.css.map */
